
*.dat

KH_workspace/data/
KH_workspace/src/fig/
KH_workspace/data_others/

holm_workspace/SID/
holm_workspace/data/
holm_workspace/src/fig/

*.pdf

*.svg

*.eps

*.png

*.mat

*.zip

*.okc

*.tar

\.idea/

holm_workspace/pySrc/visitlog\.py

*.ultra
